---
import { getBlogCollection, groupCollectionsByYear, sortMDByDate } from 'astro-pure/server'
import { Button, FormattedDate } from 'astro-pure/user'
import PageLayout from '@/layouts/BaseLayout.astro'

export const prerender = true

const allPosts = await getBlogCollection()
const allPostsByDate = sortMDByDate(allPosts)
const allPostsByYear = groupCollectionsByYear(allPostsByDate)

const meta = {
  description: 'A list of all the years of creating my posts',
  title: 'Archives'
}
---

<PageLayout {meta}>
  <Button title='Back' href='/blog' variant='back' />

  <main class='mt-6 lg:mt-10'>
    <div id='content-header' class='animate'>
      <h1 class='mb-6 text-3xl font-medium'>Archives</h1>
    </div>

    {allPosts.length === 0 && <p>No posts yet.</p>}

    <section id='content' class='animate' aria-label='Blog post list'>
      {
        allPostsByYear.map(([year, posts]) => (
          <div class='relative mt-20'>
            <h2
              class='absolute -start-6 -top-16 z-0 text-9xl font-bold text-transparent opacity-10'
              style='-webkit-text-stroke-width:2px;-webkit-text-stroke-color:hsl(var(--foreground)/var(--un-text-opacity))'
            >
              <samp>{year}</samp>
            </h2>
            <p class='px-5 text-muted-foreground'>
              {posts.length} post{posts.length > 1 && 's'}
            </p>
            <ul class='flex flex-col text-start'>
              {posts.map((post) => {
                const postDate = new Date(post.data.updatedDate ?? post.data.publishDate ?? 0)
                return (
                  <li class='group/post relative rounded-2xl px-5 py-2 transition-colors hover:bg-muted'>
                    <a
                      class='flex w-full flex-col gap-2 transition-all hover:text-primary sm:flex-row sm:items-start'
                      href={`/blog/${post.id}`}
                      data-astro-prefetch
                    >
                      <FormattedDate class='min-w-[95px] py-1 text-xs' date={postDate} />
                      <div class='flex min-w-0 flex-1 items-start justify-between gap-4'>
                        <div class='min-w-0'>
                          <div class='line-clamp-2'>
                            {post.data.draft && <span class='text-red-500'>(Draft) </span>}
                            {post.data.title}
                          </div>
                          <p class='mt-1 line-clamp-2 text-sm text-muted-foreground'>
                            {post.data.description}
                          </p>
                        </div>
                        <span class='mt-1 shrink-0 text-xs text-muted-foreground'>→</span>
                      </div>
                    </a>
                  </li>
                )
              })}
            </ul>
          </div>
        ))
      }
    </section>
  </main>
</PageLayout>
